.appreciation {
    background-color: #f4f8ff;
}

.appreciation_header {
    grid-column: span 12;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
}

.appreciation_subheader {
    grid-column: span 4;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto';
    font-weight: 400;
}

.appreciation_review {
    grid-column: 1 / span 5;
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

.appreciation_quote {
    font-size: 18px;
    font-style: italic;
    position: relative;
    padding-left: 24px;
}

.appreciation_quote:before {
    position: absolute;
    content: "";
    background: url('../media/quote.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    bottom: 24px;
    right: 0;
}

.appreciation_reviewer {
    display: flex;
    align-items: center;
}

.appreciation_photo {
    border-radius: 50%;
}

.appreciation_video {
    grid-column: 7 / span 6;
    width: 100%;
    object-fit: fill;
}

.appreciation_trust {
    grid-column: span 12;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

.appreciation_slider {
    grid-column: span 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appreciation_logo{
    max-width: 20%;
}

@media (max-width: 1200px) {
    .appreciation_subheader {
        grid-column: span 6;
    }
    .appreciation_quote{
        margin-bottom: 15px;
    }
}

@media (max-width: 992px) {
    .appreciation_subheader {
        grid-column: span 8;
    }
    .appreciation_review{
        grid-column: span 12;
    }
    .appreciation_video{
        grid-column: span 12;
    }
}