.best-sellers_header {
    grid-column: span 12;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 700;
}

.best-sellers_subheader {
    grid-column: span 4;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.best-sellers_btn {
    grid-column: 11 / span 2;
    border-radius: 24px;
    background-color: white;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500;
    border: 1px black solid;
}

@media (max-width: 1200px) {
    .best-sellers_btn {
        grid-column: 10 / span 3;
    }

    .best-sellers_subheader {
        grid-column: span 6;
    }
}

@media (max-width: 992px) {
    .best-sellers_btn {
        grid-column: 9 / span 4;
    }

    .best-sellers_subheader {
        grid-column: span 8;
    }
}