.popular {
    background-color: #f4f8ff;
}

.popular_header {
    grid-column: span 12;
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: 700;
}

.popular_subheader {
    grid-column: span 4;
    font-size: 14px;
    font-weight: 500;
}

.popular_btn {
    grid-column: span 4;
    padding: 0;
    border: 0;
    border-radius: 5px;
    background: url('../media/btn_purple.png');
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 700;
    color: white;
    height: 100px;
}

.popular_btn:first-of-type {
    grid-column: 1 / span 4;
    background: url('../media/btn_pink.png');
}

.popular_btn:last-of-type {
    background: url('../media/btn_blue.png');
}


@media (max-width: 1200px) {
    .popular_subheader {
        grid-column: span 6;
    }
}

@media (max-width: 992px) {
    .popular_subheader {
        grid-column: span 8;
    }
}