* {
    margin: 0;
    font-family: 'Open Sans';
    box-sizing: border-box;
}

.container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

main section{
    padding: 100px 0;
}